@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 10px;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  flex: 4;
  float: right;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.review {
  font-size: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content:cen;
  
  border: 1px solid steelblue;
}

.top{
  margin-top: 5px;
}

.email-form {
  padding-top: 10px;
}

.form-control {
  margin-top: 10px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  float: left;
}

.form-control label {
  display: flex;
  align-self:auto;
  text-align: right;
  margin: 10px auto;
  justify-content: flex-start;
  flex: 1;
  
}

.form-control input {
  width: 350px;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  display: flex;
  text-align: left;
  margin-left: 10%;
  justify-content: center;
  flex: 2;
}

.form-control textarea{
  width: 350px;
  height: 100px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  display: flex;
  text-align: left;
  margin-left: 10%;
  justify-content: center;
  flex: 2;
}

.logo{
  width:90px;
  height:90px;
  float:left;
  display: flex;
  flex: 1;
}

.emailHeader{
  font-family:Calibri;
  font-size: 11pt;
  display:flex;
  flex-wrap: wrap;
  flex: 5;
}

.spacing{
  display: flex;
  flex-wrap: wrap;
}

.invoice{
  font-family:Calibri Light;
  font-size: 13pt; 
  color:#2E74B5;
}

table, th, td{
  border: 2px solid black;
  border-collapse:collapse;
  white-space: pre-wrap;
}

th {
  width: 100px;
}

.th1 {
  width: 200px;
}

.emailBody{
  font-family:Calibri;
  font-size: 11pt;
}
